.aboutUs{background-color: #a3d0e040;}
.iconHolder{height: 200px;}
.iconHolder i{
  left: 50%;
  transform: translateX(-50%);
}
.number{
  font-size: 12rem;
  color: #19647c;
}
.icon{color: #fff;}
.feat{transition: all .6s ease-in-out;}
.feat:hover{
  border: 1px solid #fff !important;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 1px 0px #000;
  background-color: rgb(228, 228, 228);
  transition: all .6s ease-in-out;
}
.feat h4{color: #000;}
.feat p{color: #444a4f !important;}