.features {
  background-color: rgba(165 209 225 / 65%);
}
.serv {
  transition: all 0.6s ease-in-out;
}
.serv:hover {
  border: 1px solid #fff !important;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 1px 0px #000;
  background-color: #e4e4e4;
  transform: translateY(-5px);
  transition: all 0.6s ease-in-out;
}
.serv svg {
  color: #19647c !important;
}
.serv:hover svg {
  color: rgba(0, 128, 0, 0.5) !important;
  transition: all 0.6s ease-in-out;
}
